@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --red: #FF4500;
  --blue: #1E90FF;
  --primary-bg: #2E1B5B;
  --secondary-bg-1: #E24795;
  --secondary-bg-2: #A400A0;
  --secondary-bg-3: #E1D5FD;
  --primary-text-1: #FFFFF0;
  --primary-text-2: #2E1B5B;
  --secondary-text-1: #F7E05A;
  --bg-card: #1c7ccc;
  --button-hover: #FF6347;
  --overlay: rgba(0, 0, 0, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--primary-bg);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.hidden {
  display: none !important;
}