.container-help {
    display: block;
    text-align: left;
    background-color: var(--secondary-bg-3);
    padding: 2rem;
    border-radius: 1rem;
    width: 60%;
}

#back, .rules, .desc {
    margin-bottom: 2rem;
}

.title {
    font-weight: bold;
}

